@keyframes background-position {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.calendar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    scale: .95;
    transition: .2s;
    backdrop-filter: blur(2px);

    & span.note {
        align-self: center;
        background-color: var(--firebrick);
        color: white;
        
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.275);
        font-weight: 550;
        font-size: .8rem;
        border-radius: 5px;
        width: min-content;
        text-wrap: nowrap;

        opacity: 0;
        position: absolute;
        transition: .2s;

        &[open] {
            animation: var(--show-top);
            padding: 5px 10px;
            opacity: 1;
        }
    }

    &[open] {
        opacity: 1;
        scale: 1;
        z-index: 3;
        transition: opacity 0s;
        /* pointer-events: all; */

        .calendar-div {
            animation: show-down .1s;
        }
    }

    .calendar-div {
        display: flex;
        flex-direction: column;
        position: relative;

        width: 100%;
        max-width: 400px;

        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.253);
        border-radius: 10px;
        padding: 10px;

        /* overflow: hidden; */
        transition: .5s;

        & .calendar-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 1px gray;

            & #month-picker {
                padding: 10px;
                cursor: pointer;
            }

            & .year-picker {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                & span {
                    margin-inline: 10px;
                }

                & svg {
                    padding: 10px 12px;
                    border-radius: 20px;


                    &:hover {
                        background-color: gainsboro;
                    }
                }
            }
        }

        & .calendar-body {
            display: flex;
            flex-direction: column;

            & .calendar-week {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                margin-block: 10px;
                gap: 10px;
                border-radius: 10px;
                padding: 10px 5px;
                background-color: rgba(0, 0, 0, 0.067);
                box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.110);

                & div {
                    text-align: center;
                    font-weight: 600;
                    color: rgb(86, 86, 86);
                }
            }

            & .calendar-days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 7px;

                & div {
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    position: relative;

                    padding-block: 8px;
                    border-radius: 5px;
                    font-weight: 550;
                    font-size: 1.1rem;

                    color: rgb(68, 68, 68);
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.150);
                    transition: .2s;
                    opacity: 0;

                    &:not(&[active]){
                        background-color: red;
                        pointer-events: none;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 50%;
                        bottom: 5px;
                        border-bottom: solid 3px rgba(255, 0, 0, 0);
                        opacity: .3;
                        /* display: none; */
                    }

                    &::before {
                        font-size: .7rem;
                        border-radius: 3px;
                        padding: 3px 10px;
                        position: absolute;
                        left: 110%;
                        z-index: 1;
                        pointer-events: none;
                        align-self: center;
                        opacity: 0;
                        transition: .2s;
                        display: none;
                    }

                    &:hover::before {
                        opacity: 1;
                    }

                    /* &[pass] {
                        color: gray;
                        cursor: no-drop;

                        &::before {
                            text-wrap: nowrap;
                            content: 'Não é possivel agendar essa data';
                            color: rgb(255, 255, 255);
                            background-color: rgb(255, 0, 0);
                        }

                    } */

                    &[active] {
                        background-color: rgb(238, 238, 238);
                        opacity: 2;
                        animation: show-down .2s;
                    }

                    &[active][selected] {
                        background-color: rgba(4, 0, 255, 0.767);
                        color: white;
                    }

                    &[color] {
                        cursor: no-drop;

                        &::after {
                            opacity: .3;
                            border-color: red;
                        }

                        &::before {
                            content: 'Fechado';
                            color: rgb(255, 255, 255);
                            background-color: rgb(255, 0, 0);
                        }
                    }

                    &[color='red'] {
                        /* color: red; */
                        pointer-events: none;
                        position: relative;

                        &::after {
                            border-color: red;
                        }
                    }

                    &[color='gray'] {

                        &::after {
                            border-color: gray !important;
                        }

                        &::before {
                            content: 'Agendado';
                        }
                    }

                    &[color='white'] {
                        /* color: rgb(157, 157, 157); */
                    }

                    &:hover {
                        background-color: gainsboro;
                        opacity: 1;
                    }

                    &.curr-date {
                        color: var(--modal-color);

                        &[color='white']{
                            /* color: red; */
                            &::after {
                                border-color: red;
                            }
                        }

                        &[active][selected] {
                            &::after {
                                border-color: rgb(255, 255, 255);
                            }
                        }

                        &::after {
                            border-bottom: solid 3px var(--modal-color);
                            opacity: 1;
                        }
                    }
                }
            }

            & nav {
                align-self: flex-end;
                display: flex;
                justify-content: space-between;

                & button {
                    margin-left: 20px;
                    width: min-content;
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 5px;
                    border-radius: 5px;
                    align-self: flex-end;
                    /* margin-top: 10px; */
                    transition: .3s;

                    &:hover {
                        background-color: var(--orange);
                        color: white;
                    }
                }
            }
        }

        & .month-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border-radius: 10px;
            height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            background-color: rgba(255, 255, 255, 0.655);
            backdrop-filter: blur(7px);
            align-self: center;
            justify-self: center;
            opacity: 0;
            pointer-events: none;
            transition: .3s;


            &[open] {
                opacity: 1;
                pointer-events: all;
                transition: .2s;
            }

            & div {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 5px;

                &:hover div {
                    background-color: rgba(0, 0, 0, 0.344);
                    color: white;
                }

                & div {
                    pointer-events: none;
                    padding: 5px 10px;
                    border-radius: 20px;
                    transition: .2s;
                    font-weight: 450;
                }
            }
        }
    }
}


@media (max-width: 500px) {
    .calendar-section {
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        z-index: -1;
        opacity: 0;
        scale: .95;
        transition: .6s;
        backdrop-filter: blur(2px);

        &[open] {
            opacity: 1;
            pointer-events: all;
            scale: 1;
            z-index: 3;
        }

        & span.note {
            font-size: .6rem;
        }

        .calendar-div {
            display: flex;
            flex-direction: column;
            position: relative;

            width: 95%;
            max-width: 400px;

            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.253);
            border-radius: 10px;
            padding: 10px;

            overflow: hidden;
            transition: .5s;

            & .calendar-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border-bottom: solid 1px gray;

                & #month-picker {
                    padding: 10px;
                    cursor: pointer;
                    font-size: .9rem;
                }

                & .year-picker {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    font-size: .9rem;

                    & span {
                        margin-inline: 10px;
                    }

                    & svg {
                        padding: 10px 12px;
                        border-radius: 20px;

                        &:hover {
                            background-color: gainsboro;
                        }
                    }
                }
            }

            & .calendar-body {
                display: flex;
                flex-direction: column;

                & .calendar-week {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    margin-block: 10px;
                    gap: 10px;
                    border-radius: 20px;
                    padding: 10px 5px;
                    background-color: rgba(0, 0, 0, 0.067);
                    font-size: .8rem;

                    & div {
                        text-align: center;
                        font-weight: 600;
                        color: rgb(86, 86, 86);
                    }
                }

                & .calendar-days {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    gap: 7px;

                    & div {
                        text-align: center;
                        cursor: pointer;

                        padding-block: 8px;
                        border-radius: 5px;
                        font-weight: 550;
                        font-size: .8rem;

                        color: rgb(68, 68, 68);
                        transition: .2s;
                        opacity: 0;
                    }
                }

                & nav {
                    align-self: flex-end;
                    display: flex;
                    justify-content: space-between;

                    & button {
                        margin-left: 20px;
                        width: min-content;
                        font-size: .8rem;
                        font-weight: 500;
                        padding: 5px;
                        border-radius: 5px;
                        align-self: flex-end;
                        transition: .3s;

                        &:hover {
                            background-color: var(--orange);
                            color: white;
                        }
                    }
                }
            }

            & .month-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                border-radius: 10px;
                height: 100%;
                width: 100%;

                position: absolute;
                top: 0;
                background-color: rgba(255, 255, 255, 0.655);
                backdrop-filter: blur(7px);
                align-self: center;
                justify-self: center;
                opacity: 0;
                pointer-events: none;
                transition: .3s;


                &[open] {
                    opacity: 1;
                    pointer-events: all;
                    transition: .2s;
                }

                & div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin: 5px;

                    &:hover div {
                        background-color: rgba(0, 0, 0, 0.344);
                        color: white;
                    }

                    & div {
                        pointer-events: none;
                        padding: 5px 10px;
                        border-radius: 20px;
                        transition: .2s;
                        font-weight: 450;
                    }
                }
            }
        }
    }
}