main.BarberSide .sidebar .menu {

    & nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 20px;

        & button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;
            border-radius: 5px;
            margin: 3px;
            text-wrap: nowrap;
            font-weight: 500;

            & svg{
                font-size: 1rem;
            }

            &:hover {
                color: var(--modal-color);
            }

            &:last-child:hover {
                color: red;
            }
        }
    }
}